.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    transition: all 0.5s ease;
}


.navbar.fixed {
    position: fixed;
    box-shadow: 0 2px 10px rgba(0, 255, 0, 1);
    background-color: #11111109; 
    background-image: linear-gradient(180deg, #111 60%, #0f0 90%);
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar ul {
display: flex;
gap: 30px;
list-style: none;
}


.navbar a {
color: #0f0;
text-decoration: none;
}