section {
    font-size: 1.2rem;
    color: #fff;
    min-height: 100vh;
}
#initial{
    background: none;
    align-items: center;
}
#initial{
    font-size: 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#initial h1{
    font-size: 3rem;
    color: #fff;
    text-align: center;
}
#initial h2{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

#about {
    background-color: none;
    background-image: linear-gradient(180deg, #0f202700 0%, #0f0 5%, #111111 30%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    
    
}

.mid {
    background-color: #111;
    background-image: linear-gradient(180deg, #0f202700 0%, #0f0 5%, #111111 30%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100vh;  
    
}

#projects {
    background-color: #111111; /* fallback color */
    background-image: linear-gradient(180deg, #0f202700 0%, #0f0 15%, #111 40%,#111111 90%, #0f0 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
   
}
#contact {
    background-color: transparent; /* fallback color */
    background-image: linear-gradient(180deg, #0f0 20%, #11111100 50%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
}

#contact h2{
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

#profile-picture {
    float: left;
    margin-right: 20px;
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
}

#conteiner-about-me {
    margin: 10vh 2vw;
}

#profile-picture-and-about-me {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#about-me{
    text-align: justify;
    margin: 5vh 2vw;
    
}

#profile-picture-and-about-me {
    padding-bottom: 5vh;
}

#current-status-ul {
    list-style: outside;
    padding: 0;
    margin: 2vh auto;
    
}


table {
    margin: 3vh auto;
    border: 2px solid #fff;
    border-collapse: collapse;
}

td {
    border: 1px solid #fff;
    padding: 10px;
    width: 20vw;
    height: 20vh;
    font-size: 4vh;
}
td img {
    width: 5vw;
    height: 5vh;
    object-fit: contain;
}

#contact-links { 
    display: flex; 
    list-style: none;
    justify-content: center; 
    gap: 10vw; 
    margin-top: 8vh; 
}


/* Projects----------------------------------------------------------*/

#conteiner-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2vw;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 80vh;
}



/*----------------------------------------------------------------------------------*/